.counter {
    margin: 0 auto;
    text-align: center;
}

form {
    display: inline-block;
}

https: //github.com/Alaa-1/python/tree/main/flask/fundamentals/counterhttps://github.com/Alaa-1/python/tree/main/flask/fundamentals/counter