.info-container h1 {
    text-decoration: underline;
}

#info-btn {
    color: #fff;
}

.form-name {
    text-align: center;
    color: #F5B90F;
}


.containers {
    margin: 30px;
    background-color: #292A2D;


}